.wrap {
  background-color: #374a76;
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0em;
}

.todoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #162449;
}

.todoWrap > p {
  margin: 0;
}

.todoWrapDel {
  display: flex;
  justify-content: space-between;
  color: #a8ff75;
}

.close {
  height: 0.8rem;
  cursor: pointer;
}

.aside {
  display: flex;
  align-items: center;
}

.aside > *:last-child {
  margin-left: 1rem;
}
