.navbarWrapper {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbarWrapper > * {
  margin-left: 2em;
}

.nav {
  padding: 0 9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fca311;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
